- monthly_restaurant_orders_customers(orders).each do |customer, orders|
  %tr.category_row
    %td= h link_to truncate(customer, :length => 50), public_orders_by_customer_path(@year, @month, @day, Order.find_all_by_email(customer).index_by { |r| r[:email] }.values)
    %td.count_col{:align => "center"}= h month_count(orders)
    -#%td.price{:align => "right"}= h number_to_currency(monthly_total(orders))
    -#%td.price{:align => "right"}= h number_to_currency(month_average(orders))
