%h1
  = @item.name
  = number_to_currency(@item.price)
%p= @item.description
= render :partial => "form", :locals => {:line_item => @line_item, :the_url => public_line_items_path(:item => @item.id, :method => "post")}
