%h1 This Is ChowBrowser
%p There’s a lot of good people making a lot of good food. We aim to make good food easy to find and convenient to order. We’re connecting great restaurants with their happy customers.
%p The ChowBrowser application has the sole purpose of keeping you fed and happy. If we didn’t think a feature would make your life easier we didn’t include it. It’s simple, it’s quick, cheers all around.
%em Choose a restaurant, place an order, checkout, rock on.
%h2 Promote Your Restaurant
%p We’d love to work with your restaurant and provide you with the ability to take online orders.
