%section.one
  %div
    %h1 Put ChowBrowser To Work For Your Restaurant
    %p ChowBrowser would like to join your restaurant. We’ve got customers and want to bring them to you. #{link_to "Contact us", new_contact_path} for more information.
