%h1 Edit Option Section
= render :partial => "form", :locals => {:item_option_section => @item_option_section, :theurl => admin_item_option_section_path(@item_option_section, :method => "post"), :submit_name => "Edit item"}
