%h1 New Item Option Section
= render :partial => "form", :locals => {:item_option_section => @item_option_section, :theurl => admin_menu_section_item_create_item_option_section_path(@menu_section_item.id), :submit_name => "Create section"}
