<h1>New Menu Item Option</h1>
<%= render :partial => "form", :locals => {:menu_item_option => @menu_item_option, :theurl => admin_item_option_section_create_menu_item_option_path(@item_option_section.id), :submit_name => "Create item"} %>