@import "colors";
@import "fonts";

#adminmenu.wrapper {
  padding: 0;
  color: $highlight_color;
  margin: 0px auto 0px;
  border-bottom: 1px solid $highlight_color;
  ul {
    li {
      display: block;
      float: left;
      padding-left: 10px;
      margin-left: 10px;
      border-left: 1px solid $highlight_color;
      a {
        color: $highlight_color;
        text-decoration: none;
        font-size: 1.13em;
        font-family: $highlight_font;
        &:hover {color: $highlight_color;}
      }
      &:first-child {
        margin-left: 0;
        padding-left: 0;
        border-left: none;
      }
    }
  }
}
#crumbmenu.wrapper {
  border-bottom: none;
  margin: 0px auto 0px;
}
