= form_for :dump, :url => admin_create_menus_path(@location), :html => {:multipart => true} do |f|
  %fieldset
    %legend Menu CSV Import
    %ol
      %li
        %label{:for => "dump_file"} Select a CSV File:
        = f.file_field :file
  %fieldset
    %p= submit_tag 'Submit'
