%h1 New Delivery Driver
= render :partial => "form", :locals => { :url => admin_delivery_drivers_path, :html => { :method => :post }, :submit_title => "Create Delivery Driver" }
= link_to "Back", :back
