<h1>New Menu Item</h1>
<%= render :partial => "form", :locals => {:menu_section_item => @menu_section_item, :theurl => admin_menu_section_create_menu_section_item_path(@menu_section.id), :submit_name => "Create item"} %>